# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Radicale systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ radicale_identifier }}.service"
  register: radicale_service_stat

- name: Uninstall Radicale systemd services and files
  when: radicale_service_stat.stat.exists | bool
  block:
    - name: Ensure Radicale systemd service is stopped
      ansible.builtin.service:
        name: "{{ radicale_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Radicale systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ radicale_identifier }}.service"
        state: absent

    - name: Ensure Radicale container network does not exist
      when: radicale_container_network_deletion_enabled
      block:
        - name: Ensure Radicale container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ radicale_container_network }}"
            state: absent
          register: radicale_network_deletion_result

        - name: Ensure Radicale container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ radicale_container_network }}
          register: radicale_network_deletion_result
          changed_when: radicale_container_network in radicale_network_deletion_result.stdout

    - name: Ensure Radicale path does not exist
      ansible.builtin.file:
        path: "{{ radicale_base_path }}"
        state: absent
