# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---

- name: Check existence of Radicale systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ radicale_identifier }}.service"
  register: radicale_service_stat

- when: radicale_service_stat.stat.exists | bool
  block:
    - name: Ensure Radicale systemd service is stopped
      ansible.builtin.service:
        name: "{{ radicale_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Radicale systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ radicale_identifier }}.service"
        state: absent

    - name: Ensure Radicale path does not exist
      ansible.builtin.file:
        path: "{{ radicale_base_path }}"
        state: absent
