# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "lookup('ansible.builtin.varnames', ('^' + item.old + '$'), wantlist=True) | length > 0"
  with_items:
    - { "old": "radicale_server_http_port", "new": "radicale_container_http_port" }
    - { "old": "radicale_http_header_content_permission_policy", "new": "radicale_http_header_permissions_policy" }

- name: Fail if required Radicale settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - radicale_identifier
    - radicale_uid
    - radicale_gid
    - radicale_hostname
    - radicale_path_prefix
    - radicale_container_network

- name: Run if Traefik is enabled
  when: radicale_container_labels_traefik_enabled | bool
  block:
    - name: Fail if Traefik settings required for Radicale are not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "lookup('vars', item, default='') | string | length == 0"
      with_items:
        - radicale_container_labels_traefik_hostname
        - radicale_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `radicale_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if radicale_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          radicale_container_labels_traefik_path_prefix (`{{ radicale_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/radicale`).
      when: "radicale_container_labels_traefik_path_prefix != '/' and radicale_container_labels_traefik_path_prefix[-1] == '/'"
